.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 500px;
}
.alarm {
    display: none;
    margin: 0 auto;
    border: 2px solid black;
    background-color: #d3d3e6;
    width: 200px;
    height: 100px;
}
.text {
    font-size: 20px;
    margin: 10px;
}
.list-group {
    display: none;
}
.contacts__persons {
    border: 2px inset black;
}
.call__info {
    display: block;
    background-color: #d3d3e6;
    width: 300px;
    height: 300px;
}